* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< Updated upstream
=======
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v36/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDTbtPY_Q.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

.body {
    font-family: 'Playfair Display', serif;
}

.menu{
    font-family: 'Inter', sans-serif;
   
}

.logo{
    width: 400px;
   justify-content: center;
}

.container {
    width: 100vw;
    height: 100vh;
    transform: translate(0, 100%);
    background-color: aquamarine;
}


/* .container-1 {
    position: relative;
}

.centrar {
    margin: 0;
    position: absolute;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#logo {
    width: 25%;
} */

/* .navbar {  
    background-color: aquamarine;
} */

#menu {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-bottom: black 2px solid;
}

.embed-responsive-item {
    width: 100%;
    height: 100vh;
    /* min-width: 100%;
    min-height: 100vh; */
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;  
>>>>>>> Stashed changes
}

.container {
    width: 100vw;
    height: 100vh;
    transform: translate(0, 100%);
    background-color: aquamarine;
}


/* .container-1 {
    position: relative;
}

.centrar {
    margin: 0;
    position: absolute;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#logo {
    width: 25%;
} */

/* .navbar {  
    background-color: aquamarine;
} */

#menu {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-bottom: black 2px solid;
}

.embed-responsive-item {
    width: 100%;
    height: 100vh;
    /* min-width: 100%;
    min-height: 100vh; */
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;  
}